# Production/development database connection string
MONGODB_URI=your_mongodb_uri_here

# Port number for the server to run on (e.g., 3003)
PORT=3003

# Dedicated database connection for running E2E/integration tests
TEST_MONGODB_URI=your_test_mongodb_uri_here

# Secret string used for signing and verifying JWT tokens
SECRET=your_secret_string_here
